<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775544151452-us2d4lc0eui2hbro20tu4bpgkriiamte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775544151452-us2d4lc0eui2hbro20tu4bpgkriiamte</string>
	<key>API_KEY</key>
	<string>AIzaSyCWgZXYLpGL6n-pZrSEzcQf2ArxhHNeMEw</string>
	<key>GCM_SENDER_ID</key>
	<string>775544151452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aboqasem.firecorder</string>
	<key>PROJECT_ID</key>
	<string>firecorder</string>
	<key>STORAGE_BUCKET</key>
	<string>firecorder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775544151452:ios:161bf94f4c5420d96cbc59</string>
</dict>
</plist>